@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(/static/OpenSans.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(/static/OpenSansBold.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/static/Oswald.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html, body {
}

body {
    padding: 30pt;
    font: 12pt 'Open Sans', Helvetica, sans-serif;
    margin: 0pt auto;
}

@media only screen and (min-width: 1500px) {
    body {
        max-width: 60%;
    }
}

footer {
    text-align: center;
    color: gray;
}

footer > a {
    color: gray;
}

a {
    color: #fe5b20;
}

a:hover {
    color: #ea3e00;
}

article a:visited {
    color: gray;
}

header {
    text-align: center;
}

header h1, header h2 {
    font-family: Oswald, Helvetica, sans-serif;
    margin: 0;
    font-size: 35pt;
    line-height: 1.2;
}

header h2 {
    font-size: 20pt;
}

header h1 a {
    text-decoration: none;
    color: #ea3e00;
}

header hr {
    margin: 15pt 0;
    border: none;
    border-top: 1pt solid #ffae91;
}

header nav {
    color: #ffae91;
    font-weight: bold;
    border-bottom: 1pt solid #ffae91;
}

header nav, header nav > ul {
    padding: 0;
    margin: 0 0 15pt 0;
}

header nav ul li {
    display: inline;
    padding: 0 4pt;
}

header nav ul li:first-of-type {
    padding-left: 0;
}

article h2 {
    color: #ea3e00;
}
