<!DOCTYPE html>
<html>
    <head>
        <title>Headcrab, a modern Rust debugger library</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
    </head>
    <body>
        <header>
            <h1><a href="/">Headcrab</a></h1>
            <h2>A modern Rust debugger library</h2>
            <hr/>
            <nav>
                <ul>
                    <li><a href="/">About</a></li>
                    <li>&bullet;</li>
                    <li><a href="/posts.html">News</a></li>
                    <li>&bullet;</li>
                    <li><a href="https://github.com/headcrab-rs/headcrab/">GitHub</a></li>
                    <li>&bullet;</li>
                    <li><a href="https://github.com/headcrab-rs/headcrab/tree/master/Documentation">Documentation</a></li>
                    <li>&bullet;</li>
                    <li><a href="https://opencollective.com/headcrab/">Donate</a></li>
                </ul>
            </nav>
        </header>

        <article>
            {{ content }}
        </article>

        <footer>
            &copy; 2020, Headcrab Contributors. Content is licensed under the <a href="https://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a> terms.
        </footer>
    </body>
</html>
